# This is Git's per-user configuration file.

[user]
	name = Juan Facorro
	email = juan.facorro@gmail.com
[push]
	default = simple
[alias]
  co = checkout
  ci = commit
  st = status
  br = branch
  hist = log --pretty=format:\"%h %ad | %s%d [%an]\" --graph --date=short
  type = cat-file -t
  dump = cat-file -p
[color]
	ui = always
[ui]
	color = always
