[
 {
   elvis,
   [
    {config,
     [#{dirs => ["src/**", "test"],
        filter => "*.erl",
        rules => [{elvis_style, line_length, #{limit => 80,
                                               skip_comments => false}},
                  {elvis_style, no_tabs},
                  {elvis_style, no_trailing_whitespace},
                  {elvis_style, macro_names},
                  {elvis_style, macro_module_names},
                  {elvis_style, operator_spaces, #{rules => [{right, ","},
                                                             {right, "++"},
                                                             {left, "++"}]}},
                  {elvis_style, nesting_level, #{level => 3}},
                  {elvis_style, god_modules, #{limit => 25, ignore => [clj_core]}},
                  %% {elvis_style, no_if_expression},
                  {
                    elvis_style,
                    invalid_dynamic_call,
                    #{ignore => ['clojerl.Var.clojerl.IDeref']}
                  },
                  {elvis_style, used_ignored_variable},
                  {elvis_style, no_behavior_info},
                  {elvis_style, state_record_and_type},
                  {elvis_style, no_spec_with_records},
                  {elvis_style, dont_repeat_yourself, #{min_complexity => 20}}
                 ]
       },
      #{dirs => ["."],
        filter => "Makefile",
        rules => [{elvis_project, no_deps_master_erlang_mk, #{ignore => []}},
                  {elvis_project, protocol_for_deps_erlang_mk, #{ignore => []}}]
       },
      #{dirs => ["."],
        filter => "rebar.config",
        rules => [{elvis_project, no_deps_master_rebar, #{ignore => []}},
                  {elvis_project, protocol_for_deps_rebar, #{ignore => []}}]
       },
      #{dirs => ["."],
        filter => "elvis.config",
        rules => [{elvis_project, old_configuration_format}]
       }
     ]
    }
   ]
 }
].
