{erl_opts, [debug_info]}.

{ profiles,
  [ {dev, [{deps, [ {eper,   ".*", {git, "https://github.com/massemanet/eper.git",   {tag, "0.97.3"}}}
                  , {sync,   ".*", {git, "https://github.com/jfacorro/sync.git",     {branch, "jfacorro.clj_support"}}}
                  , {epp,    ".*", {git, "https://github.com/virtan/eep",            {tag, "v1.1"}}}
                  , {eflame, ".*", {git, "https://github.com/jfacorro/eflame",       {branch, "jfacorro.limit.tracing.time"}}}
                  ]}
          ]}
  , {test, [{deps, [ {xref_runner, {git, "https://github.com/inaka/xref_runner.git", {tag, "0.2.5"}}}
                   , {meck,        {git, "https://github.com/eproxus/meck",          {tag, "0.8.4"}}}
                   ]}
           ]}
  ]}.

{pre_hooks, [ {"(linux|darwin|solaris)", compile, "make -C c_src"}
            , {"(linux|darwin|solaris)", clean, "make -C c_src clean"}
            ]}.
{artifacts, ["priv/clojerl.so"]}.

{cover_enabled, true}.
{shell, [{apps, [clojerl]}]}.
{plugins, [ rebar_covertool
          , {cover_result, ".*", {git,  "https://github.com/jfacorro/cover_result", {tag, "0.1.0"}}}
          ]}.
